@font-face {
  font-family: "Nunito";
  src: url("../_data/fonts/Nunito-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: url("../_data/fonts/Nunito-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Torus";
  src: url("../_data/fonts/Torus-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Torus";
  src: url("../_data/fonts/Torus-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Azeret Mono";
  src: url("../_data/fonts/AzeretMono-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Azeret Mono";
  src: url("../_data/fonts/AzeretMono-Bold.ttf");
  font-weight: 700;
}

body,
html {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  font-family: "Torus";
}

video {
  position: absolute;
  top: 0;
  left: 0;
}

#main {
  position: absolute;
  top: 0;
  left: 0;

  width: 1920px;
  height: 1080px;
  position: relative;
  background-image: url("../_data/assets/base-bg-qf.png");
}

#header {
  width: 1920px;
  height: 100px;
  opacity: 100%;
  letter-spacing: 1px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#full-overlay {
  width: 1920px;
  height: 1080px;
  background-size: cover;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#victory {
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  margin: auto;

  width: 100%;
  margin-top: 40px;
  text-align: center;
  color: #ff9d7a;
  font-size: 92px;

  font-family: Azeret Mono;
}

#score-row {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

#score-red-container {
  /* height: 30px; */
  /* height: 54px; */

  width: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbbccc;
  /* mix-blend-mode: overlay; */
  margin: 0 24px;
  color: #ffffff;
}

#score-red {
  font-size: 64px;
  /* height: 54px; */
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

  font-family: Azeret Mono;
}

#score-blue-container {
  /* height: 30px; */
  /* height: 54px; */
  width: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcf0fa;
  /* mix-blend-mode: overlay; */
  margin: 0 24px;
  color: #ffffff;
}

#score-blue {
  font-size: 64px;
  /* height: 54px; */
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

  font-family: Azeret Mono;
}

#versus {
  width: 100px;
  color: #ff9d7a;
  font-size: 32px;
  height: 32px;
  text-align: center;
}

#flag-red {
  width: 70px;
  height: 47px;
}

#flag-blue {
  width: 70px;
  height: 47px;
}

#team-row {
  width: 100%;
  text-align: center;
  color: #ffffff;
  /* margin-top: 40px; */
  font-size: 64px;
  color: #ff5663;

  font-family: Nunito;
}

#title {
  position: absolute;
  font-family: "Torus";
  color: #ff9d7a;
  bottom: 32px;
  left: 36px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 22px;
}

#note {
  margin-right: 6px;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 0px;
  visibility: 0;
}

/* Track */
::-webkit-scrollbar-track {
  margin-top: 25px;
  margin-bottom: 25px;
  visibility: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
